<div class="flex justify-center">

    <div class="p-8 m-4 rounded-[15px] max-w-screen-xl" style="background-color: #171c30; min-width: 45vw;">

        <h1>How to play</h1>
        
        <p class="text-base">
            Every day a player is given one random game to guess. After guessing any game player is presented with hints.<br><br>
            
        </p>

        <h2>Available hints</h2>

        <div class="border-green-800 shadow-green-800 bg-green-700 ml-1 mr-1 p-2 mb-4 border-4 flex justify-center rounded-2xl shadow-[inset_0_0_10px_8px]">
            <div class="self-center text-center text-2xl">
                You guessed the game parameter
            </div>
            <!--<div [ngSwitch]="scoreHint" class="self-center">
                <img *ngSwitchCase="2"/>
                <label *ngSwitchCase="3" class="pl-1 text-3xl">⬇️</label>
                <label *ngSwitchCase="4" class="pl-1 text-3xl">⬆️</label>
            </div>-->
        </div>

        <div class="border-yellow-700 shadow-yellow-700 bg-yellow-600 ml-1 mr-1 p-2 mb-4 border-4 flex justify-center rounded-2xl shadow-[inset_0_0_10px_8px]">
            <div class="self-center text-center text-2xl">
                You partialy guessed the game parameter
            </div>
            <!--<div [ngSwitch]="scoreHint" class="self-center">
                <img *ngSwitchCase="2"/>
                <label *ngSwitchCase="3" class="pl-1 text-3xl">⬇️</label>
                <label *ngSwitchCase="4" class="pl-1 text-3xl">⬆️</label>
            </div>-->
        </div>

        <div class="border-yellow-700 shadow-yellow-700 bg-yellow-600 ml-1 mr-1 p-2 mb-4 border-4 flex justify-center rounded-2xl shadow-[inset_0_0_10px_8px]">
            <div class="self-center text-center text-2xl">
                Guessed parameter is higher than in the game you guessed
            </div>
            <div class="self-center">
                <label class="pl-1 text-3xl">⬆️</label>
            </div>
        </div>

        <div class="border-yellow-700 shadow-yellow-700 bg-yellow-600 ml-1 mr-1 p-2 mb-4 border-4 flex justify-center rounded-2xl shadow-[inset_0_0_10px_8px]">
            <div class="self-center text-center text-2xl">
                Guessed parameter is lower than in the game you guessed
            </div>
            <div class="self-center">
                <label class="pl-1 text-3xl">⬇️</label>
            </div>
        </div>

        <div class="border-red-600 shadow-red-600 bg-red-500 ml-1 mr-1 p-2 mb-4 border-4 flex justify-center rounded-2xl shadow-[inset_0_0_10px_8px]">
            <div class="self-center text-center text-2xl">
                Guessed parameter is not correct
            </div>
            <!--<div [ngSwitch]="scoreHint" class="self-center">
                <img *ngSwitchCase="2"/>
                <label *ngSwitchCase="3" class="pl-1 text-3xl">⬇️</label>
                <label *ngSwitchCase="4" class="pl-1 text-3xl">⬆️</label>
            </div>-->
        </div>

        

    </div>

</div>
