<div class="flex flex-wrap text-center text-base p-1">

    <div class="square">
        <img src="{{ game.img }}" class="rounded" loading="lazy"/>
    </div>

    <div class="square">
        {{ game.released }}
    </div>

    <div class="square">
        {{ game.score }}
    </div>

    <div class="square">
        {{ game.owners }}
    </div>

    <div class="square">
        {{ game.achievements }}
    </div>

    <div class="square" [innerHTML]="game.genres | multilnearray">
    </div>

    <div class="square" [innerHTML]="game.platforms | multilnearray">
    </div>

</div>
