<div class="flex flex-wrap text-center">

    <div class="square">
        <img src="{{ game.img }}" class="rounded" loading="lazy"/>
    </div>

    <div class="square">
        {{ game.released }}
    </div>

    <div class="square">
        {{ game.score }}
    </div>

    <div class="square">
        {{ game.owners }}
    </div>

    <div class="square">
        {{ game.achievements }}
    </div>

    <div class="square">
        {{ game.platforms }}
    </div>

</div>

<!--<tr>
    <td>
        <img src="{{ game.img }}" class="rounded" loading="lazy"/>
    </td>
    <td>
        <p>{{ game.released }}</p>
    </td>
    <td>
        <p>{{ game.score }}</p>
    </td>
    <td>
        <p>{{ game.owners }}</p>
    </td>
    <td>
        <p>{{ game.achievements }}</p>
    </td>
    <td>
        <p>{{ game.platforms }}</p>
    </td>
</tr>-->
