<div class="bg-gray-800 p-2 m-1 rounded">
    <img src="{{ game.img }}" class="rounded" loading="lazy"/>
    <strong class="text-xl">{{ game.name }}</strong>
    <div>
        Released: {{ game.released }}
    </div>
    <div>
        Score: {{ game.score }}
    </div>
    <!--<div>
        Achievements: {{ game.achievements }}
    </div>-->
    <div>
        Owners: {{ game.owners | number }}
    </div>
    <div>
        Platforms: {{ game.platforms }}
    </div>
    <div>
        Genres: {{ game.genres }}
    </div>
</div>
