<div class="flex justify-center">

    <div class="p-8 m-4 rounded-[15px] max-w-screen-xl" style="background-color: #171c30; min-width: 45vw;">

        <h1>About steamdle</h1>
        
        <p>
            Steamdle the game about guessing random games. Once a day you're presented with randomly selected game.<br>
            <br>

            Game is inspired by these games:
                <a target="_blank" href="https://loldle.net/" class="underline">Loldle</a>,
                <a target="_blank" href="https://actorle.com/" class="underline">Actorle</a>,
                <a target="_blank" href="https://www.nytimes.com/games/wordle/" class="underline">Worldle</a>

        </p>

        <h1>Upcomming content</h1>
        
        <p>
            For upcomming content please see patch notes.
        </p>

        <h1>Feedback</h1>
        
        <p>
            Found any bug, have a suggestion? Fell free to <a href="mailto:steamdle@steamdle.com" class="mr-4 hover:underline md:mr-6">contact us.</a><br>
            <br>

        </p>

        <label class="text-sm font-medium text-gray-400">{{ getGameVersion() }}</label>

    </div>

</div>
