<div *ngIf="game !== undefined">

    <div class="flex flex-wrap text-center text-base mt-5 mb-5">

        <div class="square">
            <img src="{{ game.img }}" class="rounded-2xl" loading="lazy"/>
        </div>
    
        <div class="square">
            <div [ngClass]="{'border-green-800 shadow-green-800 bg-green-700': releasedHint === 2, 'border-yellow-700 shadow-yellow-700 bg-yellow-600': releasedHint === 3 || releasedHint === 4}" class="ml-1 mr-1 p-2 border-4 flex justify-center h-full rounded-2xl border-yellow-700 shadow-yellow-700 bg-yellow-600 shadow-[inset_0_0_10px_8px] w-full">
                <div class="self-center text-center text-2xl">
                    {{ game.released }}
                </div>
                <div [ngSwitch]="releasedHint" class="self-center">
                    <img *ngSwitchCase="2"/>
                    <img *ngSwitchCase="3" src="../../assets/images/icons8-down-96.png" width="42"/>
                    <img *ngSwitchCase="4" src="../../assets/images/icons8-up-96.png" width="42"/>
                </div>
            </div>
        </div>
    
        <div class="square">
            <div [ngClass]="{'border-green-800 shadow-green-800 bg-green-700': scoreHint === 2, 'border-yellow-700 shadow-yellow-700 bg-yellow-600': scoreHint === 3 || scoreHint === 4}" class="ml-1 mr-1 p-2 border-4 flex justify-center h-full rounded-2xl border-yellow-700 shadow-yellow-700 bg-yellow-600 shadow-[inset_0_0_10px_8px] w-full">
                <div class="self-center text-center text-2xl">
                    {{ game.score }}
                </div>
                <div [ngSwitch]="scoreHint" class="self-center">
                    <img *ngSwitchCase="2"/>
                    <img *ngSwitchCase="3" src="../../assets/images/icons8-down-96.png" width="42"/>
                    <img *ngSwitchCase="4" src="../../assets/images/icons8-up-96.png" width="42"/>
                </div>
            </div>
        </div>
    
        <div class="square flex-wrap">
            <div [ngClass]="{'border-green-800 shadow-green-800 bg-green-700': ownersHint === 2, 'border-yellow-700 shadow-yellow-700 bg-yellow-600': ownersHint === 3 || ownersHint === 4}" class="ml-1 mr-1 p-2 border-4 flex justify-center h-full rounded-2xl shadow-[inset_0_0_10px_8px] w-full">
                <div class="self-center text-center text-2xl">
                    {{ game.owners | number}}
                </div>
                <div [ngSwitch]="ownersHint" class="self-center">
                    <img *ngSwitchCase="2"/>
                    <img *ngSwitchCase="3" src="../../assets/images/icons8-down-96.png" width="42"/>
                    <img *ngSwitchCase="4" src="../../assets/images/icons8-up-96.png" width="42"/>
                </div>
            </div>
        </div>
    
        <div class="square">
            <div [ngClass]="{'border-red-600 shadow-red-600 bg-red-500': genresHint === 0, 'border-yellow-700 shadow-yellow-700 bg-yellow-600': genresHint === 1, 'border-green-800 shadow-green-800 bg-green-700': genresHint === 2}" class="ml-1 mr-1 p-2 border-4 flex justify-center h-full rounded-2xl border-yellow-700 shadow-yellow-700 bg-yellow-600 shadow-[inset_0_0_10px_8px] w-full">
                <div class="relative inline-block text-base" [innerHTML]="PrintGameGenres(game.genres)">
                </div>
            </div>
        </div>
    
        <div class="square">
            <div [ngClass]="{'border-red-600 shadow-red-600 bg-red-500': platformsHint === 0, 'border-yellow-700 shadow-yellow-700 bg-yellow-600': platformsHint === 1, 'border-green-800 shadow-green-800 bg-green-700': platformsHint === 2}" class="ml-1 mr-1 p-2 border-4 flex justify-center h-full rounded-2xl shadow-[inset_0_0_10px_8px] w-full">
                <div class="flex flex-row-reverse self-center">
                    <span *ngIf="IsGameOnLinux()" class="z-10 -mr-4 h-10 w-10 rounded-full border-2 border-white">
                        <img class="h-full w-full rounded-full object-cover" src="../assets/images/linux.png" alt="Linux logo">
                    </span>
                    <span *ngIf="IsGameOnMacOs()" class="z-10 -mr-4 h-10 w-10 rounded-full border-2 bg-white border-white">
                        <img class="h-full w-full rounded-full object-cover" src="../assets/images/mac-os.png" alt="Mac Os logo">
                    </span>
                    <span *ngIf="IsGameOnWindows()" class="z-10 -mr-4 h-10 w-10 rounded-full border-2 border-white">
                        <img class="h-full w-full rounded-full object-cover" src="../assets/images/windows.png" alt="Windows logo">
                    </span>
                </div>
            </div>
        </div>
    
    </div>

</div>
