<div *ngIf="game !== undefined">

    <div class="flex flex-wrap text-center text-base p-1">

        <div class="square">
            <img src="{{ game.img }}" class="rounded" loading="lazy"/>
        </div>
    
        <div class="square">
            <div>
                {{ game.released }}
            </div>
            <div [ngSwitch]="releasedHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="3" src="../assets/images/down_32px.png" style="height: 16px;">
                <img *ngSwitchCase="4" src="../assets/images/up_32px.png" style="height: 16px;">
            </div>        
        </div>
    
        <div class="square">
            <div>
                {{ game.score }}
            </div>
            <div [ngSwitch]="scoreHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="3" src="../assets/images/down_32px.png" style="height: 16px;">
                <img *ngSwitchCase="4" src="../assets/images/up_32px.png" style="height: 16px;">
            </div>   
        </div>
    
        <div class="square">
            <div>
                {{ game.owners | number}}
            </div>
            <div [ngSwitch]="ownersHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="3" src="../assets/images/down_32px.png" style="height: 16px;">
                <img *ngSwitchCase="4" src="../assets/images/up_32px.png" style="height: 16px;">
            </div>   
        </div>
    
        <!--<div class="square">
            {{ game.achievements }}
        </div>-->
    
        <div class="square">
            <div class="mt-20">
                <a href="#" class="group relative inline-block text-blue-500 underline hover:text-red-500 duration-300">
                    Link with top tooltip
                    <!-- Tooltip text here -->
                    <span
                        class="absolute hidden group-hover:flex -left-5 -top-2 -translate-y-full w-48 px-2 py-1 bg-gray-700 rounded-lg text-center text-white text-sm after:content-[''] after:absolute after:left-1/2 after:top-[100%] after:-translate-x-1/2 after:border-8 after:border-x-transparent after:border-b-transparent after:border-t-gray-700">This
                        {{ GetGenresTooltip(game.genres) }}</span>
                </a>
            </div>
            <!--<div [innerHTML]="PrintGameGenres(game.genres)">
            </div>

            <span
              class="absolute hidden group-hover:flex -left-5 -top-2 -translate-y-full w-48 px-2 py-1 bg-gray-700 rounded-lg text-center
                    text-white text-sm after:content-[''] after:absolute after:left-1/2 after:top-[100%] after:-translate-x-1/2 after:border-8
                    qafter:border-x-transparent after:border-b-transparent after:border-t-gray-700">
                    tttttttttttttttttttttttttttttttttttttttt
            </span>
            <div [ngSwitch]="genresHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="1" src="../assets/images/yellow_dot.png" style="height: 16px;">
                <img *ngSwitchCase="0" src="../assets/images/red_dot.png" style="height: 16px;">
            </div>  -->
        </div>
    
        <div class="square">
            <div class="flex flex-row-reverse -mt-6">
                <span *ngIf="IsGameOnLinux()" class="z-10 -mr-3 h-8 w-8 rounded-full border-2 border-white">
                    <img class="h-full w-full rounded-full object-cover" src="../assets/images/linux.png" alt="Linux logo">
                </span>
                <span *ngIf="IsGameOnMacOs()" class="z-10 -mr-3 h-8 w-8 rounded-full border-2 bg-white border-white">
                    <img class="h-full w-full rounded-full object-cover" src="../assets/images/mac-os.png" alt="Mac Os logo">
                </span>
                <span *ngIf="IsGameOnWindows()" class="z-10 -mr-3 h-8 w-8 rounded-full border-2 border-white">
                    <img class="h-full w-full rounded-full object-cover" src="../assets/images/windows.png" alt="Windows logo">
                </span>
            </div>
            <!--<div [ngSwitch]="platformsHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="1" src="../assets/images/yellow_dot.png" style="height: 16px;">
                <img *ngSwitchCase="0" src="../assets/images/red_dot.png" style="height: 16px;">
            </div>-->
        </div>
    
    </div>

</div>
