<div *ngIf="game !== undefined">

    <div class="flex flex-wrap text-center text-base mt-5 mb-5">

        <div class="square">
            <img src="{{ game.img }}" class="rounded" loading="lazy"/>
        </div>
    
        <div class="square">
            <div>
                {{ game.released }}
            </div>
            <div [ngSwitch]="releasedHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="3" src="../assets/images/down_32px.png" style="height: 16px;">
                <img *ngSwitchCase="4" src="../assets/images/up_32px.png" style="height: 16px;">
            </div>        
        </div>
    
        <div class="square">
            <div>
                {{ game.score }}
            </div>
            <div [ngSwitch]="scoreHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="3" src="../assets/images/down_32px.png" style="height: 16px;">
                <img *ngSwitchCase="4" src="../assets/images/up_32px.png" style="height: 16px;">
            </div>   
        </div>
    
        <div class="square">
            <div>
                {{ game.owners | number}}
            </div>
            <div [ngSwitch]="ownersHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="3" src="../assets/images/down_32px.png" style="height: 16px;">
                <img *ngSwitchCase="4" src="../assets/images/up_32px.png" style="height: 16px;">
            </div>   
        </div>
    
        <!--<div class="square">
            {{ game.achievements }}
        </div>-->
    
        <div class="square">
            <div class="group relative inline-block" [innerHTML]="PrintGameGenres(game.genres)">
            </div>
            <div [ngSwitch]="genresHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="1" src="../assets/images/yellow_dot.png" style="height: 16px;">
                <img *ngSwitchCase="0" src="../assets/images/red_dot.png" style="height: 16px;">
            </div>
        </div>
    
        <div class="square">
            <div class="flex flex-row-reverse -mt-6">
                <span *ngIf="IsGameOnLinux()" class="z-10 -mr-3 h-8 w-8 rounded-full border-2 border-white">
                    <img class="h-full w-full rounded-full object-cover" src="../assets/images/linux.png" alt="Linux logo">
                </span>
                <span *ngIf="IsGameOnMacOs()" class="z-10 -mr-3 h-8 w-8 rounded-full border-2 bg-white border-white">
                    <img class="h-full w-full rounded-full object-cover" src="../assets/images/mac-os.png" alt="Mac Os logo">
                </span>
                <span *ngIf="IsGameOnWindows()" class="z-10 -mr-3 h-8 w-8 rounded-full border-2 border-white">
                    <img class="h-full w-full rounded-full object-cover" src="../assets/images/windows.png" alt="Windows logo">
                </span>
            </div>
            <div [ngSwitch]="platformsHint" class="m-2">
                <img *ngSwitchCase="2" src="../assets/images/green_dot.png" style="height: 16px;">
                <img *ngSwitchCase="1" src="../assets/images/yellow_dot.png" style="height: 16px;">
                <img *ngSwitchCase="0" src="../assets/images/red_dot.png" style="height: 16px;">
            </div>
        </div>
    
    </div>

</div>
