<div>

    <h1 *ngIf="myDailyChallengeComponent.playerTodaysGameStats !== undefined">Guessed games ({{ myDailyChallengeComponent.playerTodaysGameStats.GuessedGameIds.length }} / {{ myDailyChallengeComponent.myapp.gameService.maxNumberOfGuesses }})</h1>

    <div class="flex flex-wrap text-center text-lg">

        <div class="square">
            <strong>Game icon</strong>
        </div>

        <div class="square">
            <strong>Released</strong>
        </div>

        <div class="square">
            <strong>Score</strong>
        </div>

        <div class="square">
            <strong>Owners</strong>
        </div>

        <!--<div class="square">
            <strong>Achievements</strong>
        </div>-->

        <div class="square">
            <strong>Genres</strong>
        </div>

        <div class="square">
            <strong>Platforms</strong>
        </div>

    </div>

    <div *ngIf="myDailyChallengeComponent.playerTodaysGameStats !== undefined">
        <app-guessed-game-row  *ngFor="let guessedGameId of myDailyChallengeComponent.playerTodaysGameStats!.GuessedGameIds" [gameId]="guessedGameId"></app-guessed-game-row>
    </div>

</div>

