<footer class="rounded-t-lg shadow bg-gray-800 sticky">
    <div class="w-full mx-auto max-w-screen-2xl p-4 md:flex md:items-center md:justify-between">
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">{{currentYear}} - Steamdle: a hobby project that is not affiliated with Valve or Steam. Feel free to contact us <a href="mailto:steamdle@steamdle.com" class="mr-4 hover:underline md:mr-6">steamdle@steamdle.com</a></span>
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">App icons by <a href="https://icons8.com" target="_blank" class="mr-4 hover:underline md:mr-6 ">icons8.com</a></span>
		<!--<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>-->
    	<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
			<li>
				<a routerLink="/PrivacyPolicy" class="mr-4 hover:underline md:mr-6">Privacy policy</a>
			</li>
    	</ul>
    </div>
</footer>
