<div class="flex justify-center">

    <div class="p-8 m-4 rounded-[15px] max-w-screen-xl" style="background-color: #171c30; min-width: 45vw;">

        <h1>Upcomming changes</h1>
        
        <div class="p-4 m-2 rounded-[15px] text-gray-300 bg-gray-800">
            <ul>
                <li>UI tweaks and changes</li>
                <li>Bugfixes</li>
                <li>Performance improvements</li>
                <li>Player statistics - allow players to display daily challenges</li>
                <li>Reset player statistics</li>
                <li>Ability to play older daily challenges</li>
                <li>Sharing dailly challenge result</li>
            </ul>
        </div>

        <h1>Patch notes</h1>
        
        <div *ngFor="let patchNote of patchNotes" class="p-4 m-2 rounded-[15px] text-gray-300 bg-gray-800">
            <h2 id="{{ patchNote.version }}" style="margin: 0 !important;">{{ patchNote.day | date }}</h2>
            <p class="m-4">{{ patchNote.version }}</p>
            <p [innerHTML]="patchNote.description"></p>
            <h3 *ngIf="patchNotes.keys.length > 0">CHANGELOG:</h3>
            <div *ngFor="let key of patchNote.keys" class="flex m-2 items-center">
                <span [ngClass]="{'bg-green-600': key.label === 'new', 'bg-blue-500': key.label === 'improvement', 'bg-red-500': key.label === 'bugfix'}" class="rounded-[15px] py-1 px-3 mr-2">*{{ key.label }}*</span>
                {{ key.text }}
            </div>
        </div>

    </div>

</div>
