.square {
    flex-basis: calc(14.25% - 4px);
    position: relative;
    margin: 2px;
    border: 1px solid hsla(0,0%,100%,.59);
    box-sizing: border-box;
    transition: flex-basis .1s ease;
    border: none;
}
