<div>

    <h1>Guessed games ({{ myDailyChallengeComponent.currentNumberOfGuesses }} / {{ myDailyChallengeComponent.maxNumberOfGuesses }})</h1>

    <div class="flex flex-wrap text-center">

        <div class="square">
            Game icon
        </div>

        <div class="square">
            Released
        </div>

        <div class="square">
            Score
        </div>

        <div class="square">
            Owners
        </div>

        <div class="square">
            Achievements
        </div>

        <div class="square">
            Platforms
        </div>

    </div>

    <app-guessed-game-row *ngFor="let guessedGame of myDailyChallengeComponent.guessedGames" [game]="guessedGame"></app-guessed-game-row>

    <!--<table style="border:solid;">

        <tr>
            <th style="max-height: 100px;">Game icon</th>
            <th>Released</th>
            <th>Score</th>
            <th>Owners</th>
            <th>Achievements</th>
            <th>Platforms</th>
        </tr>

        <app-guessed-game-row *ngFor="let guessedGame of myDailyChallengeComponent.guessedGames" [game]="guessedGame"></app-guessed-game-row>

    </table>-->

</div>

