<div>

    <h1>Guessed games ({{ myDailyChallengeComponent.currentNumberOfGuesses }} / {{ myDailyChallengeComponent.maxNumberOfGuesses }})</h1>

    <div class="flex flex-wrap text-center text-lg">

        <div class="square">
            <strong>Game icon</strong>
        </div>

        <div class="square">
            <strong>Released</strong>
        </div>

        <div class="square">
            <strong>Score</strong>
        </div>

        <div class="square">
            <strong>Owners</strong>
        </div>

        <!--<div class="square">
            <strong>Achievements</strong>
        </div>-->

        <div class="square">
            <strong>Genres</strong>
        </div>

        <div class="square">
            <strong>Platforms</strong>
        </div>

    </div>

    <app-guessed-game-row *ngFor="let guessedGame of myDailyChallengeComponent.guessedGames" [game]="guessedGame"></app-guessed-game-row>

</div>

