<div *ngIf="myapp.gameService.dataLoaded | async" class="flex justify-center">

    <!-- Gameplay -->
    <div class="p-8 m-4 rounded-[15px] max-w-screen-xl" style="background-color: #171c30; min-width: 45vw;">

        <div *ngIf="isGameInProgress()">

            <h1>Guess the game</h1>

            <mat-form-field style="width: 100%;">

                <input type="text"
                        placeholder="Enter game"
                        [formControl]="gameFormControl"
                        matInput
                        [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let game of filteredOptions | async"
                        [value]="game.name"
                        (onSelectionChange)="gameSelected(game.id)">
                        {{ game.name }}
                    </mat-option>
                </mat-autocomplete>
        
            </mat-form-field>

        </div>

        <app-game-result [gameState]="myapp.gameService.GetCurrentGame().GameState" [gameToGuess]="gameToGuess"></app-game-result>
        
        <app-guessed-games></app-guessed-games>

        <div class="text-center border-t border-gray-400">
            <br>
            <label class="text-sm font-medium text-gray-400">{{ myapp.gameService.gameDailyStats.Guessed }} of {{ myapp.gameService.gameDailyStats.PlayerCount }} people already found out!</label>
        </div>

    </div>
    
    <!-- Debug -->
    <!--<div class="p-4 m-4 rounded-md" style="background-color: #171c30; overflow: scroll;">
        <h1>Game to guess</h1>
        <pre [innerHTML]="gameToGuess | jsonpretty: [true, 3]"></pre>
    </div>-->

</div>
