<div class="bg-gray-400">

	<div class="grid grid-flow-col auto-cols-2">

        <!-- <div class="p-4 m-4 rounded-md" style="background-color: #171c30; overflow: scroll; max-height: 93vh;">
            <h1>All available games</h1>
            <pre [innerHTML]="steamGames | jsonpretty: [true, 3]"></pre>
        </div> -->

        <div class="p-4 m-4 rounded-md" style="background-color: #171c30; min-width: 45vw;">
            <h1>Guess the game</h1>

			<mat-form-field style="width: 100%;">

				<input type="text"
                        placeholder="Enter game"
                        [formControl]="gameFormControl"
                        matInput
                        [matAutocomplete]="auto" />
				<mat-autocomplete #auto="matAutocomplete" >
					<mat-option *ngFor="let game of filteredOptions | async"
                        [value]="game.name"
                        (onSelectionChange)="gameSelected(game)">
                        {{ game.name }}
                    </mat-option>
				</mat-autocomplete>
		
			</mat-form-field>
              
            <h1>Guessed games</h1>

            <app-guessed-game *ngFor="let guessedGame of guessedGames" [game]="guessedGame"></app-guessed-game>

        </div>

        <div class="p-4 m-4 rounded-md" style="background-color: #171c30; overflow: scroll;">
            <h1>Game to guess</h1>
            <pre [innerHTML]="gameToGuess | jsonpretty: [true, 3]"></pre>
        </div>

    </div>

</div>
