<div class="bg-gray-400">

	<div class="grid grid-flow-col auto-cols-3">

        <div class="bg-gray-300 p-4 m-4 rounded-md">
            <h1>All available games</h1>
            <ul>
                <li *ngFor="let game of steamGames">AppId: {{game.id}} Name: {{game.name}}</li>
            </ul>
        </div>

        <div class="bg-gray-300 p-4 m-4 rounded-md">
            <h1>Guess the game</h1>

			<mat-form-field>

				<input matInput type="text" [matAutocomplete]="auto" />
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let game of steamGames" [value]="game.name">{{ game.name }}</mat-option>
				</mat-autocomplete>
		
			</mat-form-field>
              
        </div>

        <div class="bg-gray-300 p-4 m-4 rounded-md">
            <h1>Game to guess</h1>
            <h1>Game details</h1>
            <p>
            </p>
        </div>

    </div>

</div>
