<div class="bg-gray-400">

	<div class="grid grid-flow-col auto-cols-3">

        <div class="p-4 m-4 rounded-md" style="background-color: #171c30; overflow: scroll; max-height: 93vh;">
            <h1>Available games ({{ myapp.steamGames.length }})</h1>
            <div>
                <ul>
                    <li>Release between: {{ myapp.minReleasedDate | date }} - {{ myapp.maxReleasedDate | date }}</li>
                    <li>Score between: {{ myapp.minScore }} - {{ myapp.maxScore }}</li>
                    <li>Owners between: {{ myapp.minOwners }} - {{ myapp.maxOwners }}</li>
                </ul>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [min]="myapp.minReleasedDate" [max]="myapp.maxReleasedDate" > <!-- [matDatepicker]="picker" -->
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <br>
            <mat-slider min="{{ myapp.minScore }}" max="{{ myapp.maxScore }}">
                <mat-label>Game score</mat-label>
                <input matSliderStartThumb>
                <input matSliderEndThumb>
            </mat-slider>
            <br>
            <mat-slider min="{{ myapp.minOwners }}" max="{{ myapp.maxOwners }}" step="1000">
                <mat-label>Game owners</mat-label>
                <input matSliderStartThumb>
                <input matSliderEndThumb>
            </mat-slider>

            <app-game-card *ngFor="let availableGame of myapp.steamGames" [game]="availableGame"></app-game-card>
        </div>

        <div class="p-4 m-4 rounded-md" style="background-color: #171c30; min-width: 45vw;">

            <div *ngIf="isGameInProgress()">

                <h1>Guess the game</h1>

                <mat-form-field style="width: 100%;">

                    <input type="text"
                            placeholder="Enter game"
                            [formControl]="gameFormControl"
                            matInput
                            [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option *ngFor="let game of filteredOptions | async"
                            [value]="game.name"
                            (onSelectionChange)="gameSelected(game)">
                            {{ game.name }}
                        </mat-option>
                    </mat-autocomplete>
            
                </mat-form-field>

            </div>

            <div *ngIf="!isGameInProgress()">
                <app-game-result [gameState]="gState" [gameToGuess]="gameToGuess"></app-game-result>
            </div>
            
            <h1>Guessed games ({{ currentNumberOfGuesses }} / {{ maxNumberOfGuesses }})</h1>

            <app-game-card *ngFor="let guessedGame of guessedGames" [game]="guessedGame"></app-game-card>

        </div>
        
        <div class="p-4 m-4 rounded-md" style="background-color: #171c30; overflow: scroll;">
            <h1>Game to guess</h1>
            <pre [innerHTML]="gameToGuess | jsonpretty: [true, 3]"></pre>
        </div>

    </div>

</div>
