<div class="flex justify-center">

    <div class="p-8 m-4 rounded-[15px] max-w-screen-xl" style="background-color: #171c30; min-width: 45vw;">

        <h1>Terms of use</h1>
        
        <h2>Ownership and License</h2>

        <p>
            All content on this website and in the game, including but not limited to text, graphics (excluding icons from icons8.com), code, and software, is the property of Steamdle and is protected by copyright and other intellectual property laws.
            Steamdle grants you a non-exclusive, non-transferable, revocable license to use the game solely for personal, non-commercial purposes.
        </p>

       <h2>Disclaimer of Warranties</h2>

       <p>
            The game and website are provided "as is" and without warranties of any kind, either express or implied, including but not limited to warranties of merchantability,
            fitness for a particular purpose, or non-infringement. Steamdle does not warrant that the game or website will be error-free or uninterrupted.
       </p>

    </div>

</div>
